@font-face {
    font-family: "Luxi Sans";
    src: url("http://127.0.0.1:8080/ipfs/QmX1cXUco1fzQyECZG1L7LwrWmPD7YzCbSioqtbthfZfCV");
}
/*
@font-face {
    font-family: "Luxi Sans";
    src: url("http://127.0.0.1:8080/ipfs/QmX8ToLig7WzCa4mXBoF8NmdeYkhcnFLVsrrc2rHdhgxqP");
    font-weight: bold;
}
@font-face {
    font-family: "Luxi Sans";
    src: url("http://127.0.0.1:8080/ipfs/QmQdfhhr4YSDynt24yY5a7nArnz4gUmgBtCzYJKdAPXXfo");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Luxi Sans";
    src: url("http://127.0.0.1:8080/ipfs/QmRczQopdPTdwBoftiMyrnvPfmc7rY7oMzRqUxw4VEQGP1");
    font-weight: bold;
    font-style: italic, oblique;
}
*/

body {
    background-color: #3c656f;
    font-family: "Luxi Sans", sans-serif;
    color: color;
    max-width: 600px;
    margin: auto;
    margin-top: 8px;
}

textarea {
    background-color: #bcf2ff;
    border: 1px solid #82adb7;
    border-radius: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header {
    font-size: smaller;
    background: #6ea6b7;
    background-image: linear-gradient(to top, #6ea6b7, #81c0d0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
/*
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
*/
}

#replybox-title {
    font-family: "Luxi Sans", sans-serif;
    font-weight: bold;
    resize: none;
    width: 500px;
    margin-bottom: -12px;
    padding: 4px;
}

#replybox-content {
    font-family: "Luxi Sans", sans-serif;
    resize: vertical;
    padding: 4px;
    width: 500px;
    margin-bottom: -12px;
}

#replybox-submit {
    background: linear-gradient(to top, #6ea6b7, #81c0d0);
    border: 1px solid #a1d6e2;
    width: 500px;
    padding: 6px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#replybox-submit:hover {
    background: linear-gradient(#6ea6b7, #81c0d0);
}

div.post {
    background-color: #81c0d0;
    border: 1px solid #b4e5f1;
    padding: 8px 4px 2px 8px;
    margin-bottom: 10px;
}

div.post:last-of-type { margin-bottom: 2px; }

.post-header { text-decoration: none; }

.post-title:hover { border-left: 4px solid #4f0069; }
.post-title:hover, .post-date:hover { color: #4f0069; }

.post-title {
    color: #005469;
    border-left: 4px solid #005469; 
    padding-left: 6px;
    font-weight: bold;
}

.post-date {
    color: #003644;
    font-style: italic;
    margin-left: 8px;
    font-size: smaller;
}
